body {
  background-image: linear-gradient(to bottom, #5e5ec2 0%, 
  #181852 25%, white 25%, white 50%, lightgrey 50%, lightgrey 80%, white 80%, white 95%, navy 95%, navy 100%);
  min-height: 100vh;
  margin: 0px 250px;
  color: white;
}

nav ul {
    display: flex;
    flex: 1;  
    align-items: center;
    gap: 20px;
  }

  .push-right {
    margin-left: auto;
  }

  .second {
    display: flex;
    margin-top: 30px;
    margin-bottom: 50px;
  }

  a {
    text-decoration: none;
    color: white;
  }

  ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
  }

  img {
    width: 700px;
    height: 200px;
  }

  button {
    background-color: blue;
    color: white;
    border-radius: 10%;
  }

  .third {
    color: black;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }

  .box {
    display: grid;
    gap: 10px;
  }
  
  .flex-container {
    display: flex;
    /* padding: 0 15vw 10vh 15vw; */
    justify-content: space-between;
  }

  .flex-container div {
    border-radius: 0.7rem;
    height: 200px;
  }
  
  .flex-container img {
    max-width: 100%;
    height: 200px;
    object-fit: fill;
    border-radius: 0.7rem;
  }
  
  /* this allows the text to be centered under the box */
  figcaption {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    color: black;
  }

  #black {
    color: black;
  }

  #words {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 50px;
    margin: 100px;
    margin-bottom: 0px;
    color: black;
  }

  #quote {
    font-weight: bold;
    text-align: right;
    margin-right: 100px;
    color: black;
  }
  
    .final {
      display: flex;
      align-content: center;
      justify-content: center;
    }
  
  .inside {
    display: flex;
    justify-content: space-between;
    flex: 1;
    background-color: blue;
    width: auto;
    padding: 15px 50px;
    margin: 20px;
    border-radius: 10px;
  }

  button, #sign {
  border: white solid 1px;
  padding: 0px 20px;
  }

  h4 {
    text-align: center;
  }